* {
    background-color: darkgray;
}

#boxFromBoxModel {
    border: solid greenyellow 2px;
    box-sizing: border-box;
    width: 400px;
    margin: auto;
    display: flex;
    justify-content: center;

}

#atributeColor {
    color: greenyellow;
}

#blockExemple {
    color: cyan;
    border: solid darkcyan;
    box-sizing: border-box;

    margin: 30px;
}

#topicInline {
    color: magenta;
    border: solid purple;

}